In [1]:
import requests
import pandas as pd
from datetime import datetime, timedelta
import json

country = 'be'  # Let's start with Germany as an example
start_date = '2025-01-01'
end_date = '2025-01-07'

url = "https://api.energy-charts.info/public_power"
params = {
    "country": country,
    "start": f"{start_date}T00:00+01:00",
    "end": f"{end_date}T23:45+01:00"
}

print("\n1. Making API request...")
response = requests.get(url, params=params)
data = response.json() 

entries = data['production_types']
entries_dict = {entry['name']: entry['data'] for entry in entries}
fossil_gas_data = entries_dict.get("Fossil gas")
timestamps = data['unix_seconds']

df = pd.DataFrame({
    'timestamp': pd.to_datetime([datetime.utcfromtimestamp(ts) for ts in timestamps]),
    'demand': fossil_gas_data
})

# First aggregate to hourly averages
hourly_df = df.set_index('timestamp').resample('h').mean()

# Then sum to daily totals
daily_df = hourly_df.resample('D').sum()

# Format the output as requested
result_df = pd.DataFrame({
    'country': country.upper(),
    'date': daily_df.index.date,
    'demand': daily_df['demand'],
    'type': 'power'
}).reset_index(drop=True)

1. Making API request...

In [2]:
result_df

  country        date   demand   type
0      BE  2024-12-31    757.3  power
1      BE  2025-01-01  18014.8  power
2      BE  2025-01-02  31531.1  power
3      BE  2025-01-03  32939.7  power
4      BE  2025-01-04  39318.7  power
5      BE  2025-01-05  23019.6  power
6      BE  2025-01-06  17843.6  power
7      BE  2025-01-07  19229.2  power

In [11]:
timestamps

[1704063600,
 1704064500,
 1704065400,
 1704066300,
 1704067200,
 1704068100,
 1704069000,
 1704069900,
 1704070800,
 1704071700,
 1704072600,
 1704073500,
 1704074400,
 1704075300,
 1704076200,
 1704077100,
 1704078000,
 1704078900,
 1704079800,
 1704080700,
 1704081600,
 1704082500,
 1704083400,
 1704084300,
 1704085200,
 1704086100,
 1704087000,
 1704087900,
 1704088800,
 1704089700,
 1704090600,
 1704091500,
 1704092400,
 1704093300,
 1704094200,
 1704095100,
 1704096000,
 1704096900,
 1704097800,
 1704098700,
 1704099600,
 1704100500,
 1704101400,
 1704102300,
 1704103200,
 1704104100,
 1704105000,
 1704105900,
 1704106800,
 1704107700,
 1704108600,
 1704109500,
 1704110400,
 1704111300,
 1704112200,
 1704113100,
 1704114000,
 1704114900,
 1704115800,
 1704116700,
 1704117600,
 1704118500,
 1704119400,
 1704120300,
 1704121200,
 1704122100,
 1704123000,
 1704123900,
 1704124800,
 1704125700,
 1704126600,
 1704127500,
 1704128400,
 1704129300,
 1704130200,
 1704131100,
 1704132000,
 1704132900,
 1704133800,
 1704134700,
 1704135600,
 1704136500,
 1704137400,
 1704138300,
 1704139200,
 1704140100,
 1704141000,
 1704141900,
 1704142800,
 1704143700,
 1704144600,
 1704145500,
 1704146400,
 1704147300,
 1704148200,
 1704149100,
 1704150000,
 1704150900,
 1704151800,
 1704152700,
 1704153600,
 1704154500,
 1704155400,
 1704156300,
 1704157200,
 1704158100,
 1704159000,
 1704159900,
 1704160800,
 1704161700,
 1704162600,
 1704163500,
 1704164400,
 1704165300,
 1704166200,
 1704167100,
 1704168000,
 1704168900,
 1704169800,
 1704170700,
 1704171600,
 1704172500,
 1704173400,
 1704174300,
 1704175200,
 1704176100,
 1704177000,
 1704177900,
 1704178800,
 1704179700,
 1704180600,
 1704181500,
 1704182400,
 1704183300,
 1704184200,
 1704185100,
 1704186000,
 1704186900,
 1704187800,
 1704188700,
 1704189600,
 1704190500,
 1704191400,
 1704192300,
 1704193200,
 1704194100,
 1704195000,
 1704195900,
 1704196800,
 1704197700,
 1704198600,
 1704199500,
 1704200400,
 1704201300,
 1704202200,
 1704203100,
 1704204000,
 1704204900,
 1704205800,
 1704206700,
 1704207600,
 1704208500,
 1704209400,
 1704210300,
 1704211200,
 1704212100,
 1704213000,
 1704213900,
 1704214800,
 1704215700,
 1704216600,
 1704217500,
 1704218400,
 1704219300,
 1704220200,
 1704221100,
 1704222000,
 1704222900,
 1704223800,
 1704224700,
 1704225600,
 1704226500,
 1704227400,
 1704228300,
 1704229200,
 1704230100,
 1704231000,
 1704231900,
 1704232800,
 1704233700,
 1704234600,
 1704235500,
 1704236400,
 1704237300,
 1704238200,
 1704239100,
 1704240000,
 1704240900,
 1704241800,
 1704242700,
 1704243600,
 1704244500,
 1704245400,
 1704246300,
 1704247200,
 1704248100,
 1704249000,
 1704249900,
 1704250800,
 1704251700,
 1704252600,
 1704253500,
 1704254400,
 1704255300,
 1704256200,
 1704257100,
 1704258000,
 1704258900,
 1704259800,
 1704260700,
 1704261600,
 1704262500,
 1704263400,
 1704264300,
 1704265200,
 1704266100,
 1704267000,
 1704267900,
 1704268800,
 1704269700,
 1704270600,
 1704271500,
 1704272400,
 1704273300,
 1704274200,
 1704275100,
 1704276000,
 1704276900,
 1704277800,
 1704278700,
 1704279600,
 1704280500,
 1704281400,
 1704282300,
 1704283200,
 1704284100,
 1704285000,
 1704285900,
 1704286800,
 1704287700,
 1704288600,
 1704289500,
 1704290400,
 1704291300,
 1704292200,
 1704293100,
 1704294000,
 1704294900,
 1704295800,
 1704296700,
 1704297600,
 1704298500,
 1704299400,
 1704300300,
 1704301200,
 1704302100,
 1704303000,
 1704303900,
 1704304800,
 1704305700,
 1704306600,
 1704307500,
 1704308400,
 1704309300,
 1704310200,
 1704311100,
 1704312000,
 1704312900,
 1704313800,
 1704314700,
 1704315600,
 1704316500,
 1704317400,
 1704318300,
 1704319200,
 1704320100,
 1704321000,
 1704321900,
 1704322800,
 1704323700,
 1704324600,
 1704325500,
 1704326400,
 1704327300,
 1704328200,
 1704329100,
 1704330000,
 1704330900,
 1704331800,
 1704332700,
 1704333600,
 1704334500,
 1704335400,
 1704336300,
 1704337200,
 1704338100,
 1704339000,
 1704339900,
 1704340800,
 1704341700,
 1704342600,
 1704343500,
 1704344400,
 1704345300,
 1704346200,
 1704347100,
 1704348000,
 1704348900,
 1704349800,
 1704350700,
 1704351600,
 1704352500,
 1704353400,
 1704354300,
 1704355200,
 1704356100,
 1704357000,
 1704357900,
 1704358800,
 1704359700,
 1704360600,
 1704361500,
 1704362400,
 1704363300,
 1704364200,
 1704365100,
 1704366000,
 1704366900,
 1704367800,
 1704368700,
 1704369600,
 1704370500,
 1704371400,
 1704372300,
 1704373200,
 1704374100,
 1704375000,
 1704375900,
 1704376800,
 1704377700,
 1704378600,
 1704379500,
 1704380400,
 1704381300,
 1704382200,
 1704383100,
 1704384000,
 1704384900,
 1704385800,
 1704386700,
 1704387600,
 1704388500,
 1704389400,
 1704390300,
 1704391200,
 1704392100,
 1704393000,
 1704393900,
 1704394800,
 1704395700,
 1704396600,
 1704397500,
 1704398400,
 1704399300,
 1704400200,
 1704401100,
 1704402000,
 1704402900,
 1704403800,
 1704404700,
 1704405600,
 1704406500,
 1704407400,
 1704408300,
 1704409200,
 1704410100,
 1704411000,
 1704411900,
 1704412800,
 1704413700,
 1704414600,
 1704415500,
 1704416400,
 1704417300,
 1704418200,
 1704419100,
 1704420000,
 1704420900,
 1704421800,
 1704422700,
 1704423600,
 1704424500,
 1704425400,
 1704426300,
 1704427200,
 1704428100,
 1704429000,
 1704429900,
 1704430800,
 1704431700,
 1704432600,
 1704433500,
 1704434400,
 1704435300,
 1704436200,
 1704437100,
 1704438000,
 1704438900,
 1704439800,
 1704440700,
 1704441600,
 1704442500,
 1704443400,
 1704444300,
 1704445200,
 1704446100,
 1704447000,
 1704447900,
 1704448800,
 1704449700,
 1704450600,
 1704451500,
 1704452400,
 1704453300,
 1704454200,
 1704455100,
 1704456000,
 1704456900,
 1704457800,
 1704458700,
 1704459600,
 1704460500,
 1704461400,
 1704462300,
 1704463200,
 1704464100,
 1704465000,
 1704465900,
 1704466800,
 1704467700,
 1704468600,
 1704469500,
 1704470400,
 1704471300,
 1704472200,
 1704473100,
 1704474000,
 1704474900,
 1704475800,
 1704476700,
 1704477600,
 1704478500,
 1704479400,
 1704480300,
 1704481200,
 1704482100,
 1704483000,
 1704483900,
 1704484800,
 1704485700,
 1704486600,
 1704487500,
 1704488400,
 1704489300,
 1704490200,
 1704491100,
 1704492000,
 1704492900,
 1704493800,
 1704494700,
 1704495600,
 1704496500,
 1704497400,
 1704498300,
 1704499200,
 1704500100,
 1704501000,
 1704501900,
 1704502800,
 1704503700,
 1704504600,
 1704505500,
 1704506400,
 1704507300,
 1704508200,
 1704509100,
 1704510000,
 1704510900,
 1704511800,
 1704512700,
 1704513600,
 1704514500,
 1704515400,
 1704516300,
 1704517200,
 1704518100,
 1704519000,
 1704519900,
 1704520800,
 1704521700,
 1704522600,
 1704523500,
 1704524400,
 1704525300,
 1704526200,
 1704527100,
 1704528000,
 1704528900,
 1704529800,
 1704530700,
 1704531600,
 1704532500,
 1704533400,
 1704534300,
 1704535200,
 1704536100,
 1704537000,
 1704537900,
 1704538800,
 1704539700,
 1704540600,
 1704541500,
 1704542400,
 1704543300,
 1704544200,
 1704545100,
 1704546000,
 1704546900,
 1704547800,
 1704548700,
 1704549600,
 1704550500,
 1704551400,
 1704552300,
 1704553200,
 1704554100,
 1704555000,
 1704555900,
 1704556800,
 1704557700,
 1704558600,
 1704559500,
 1704560400,
 1704561300,
 1704562200,
 1704563100,
 1704564000,
 1704564900,
 1704565800,
 1704566700,
 1704567600,
 1704568500,
 1704569400,
 1704570300,
 1704571200,
 1704572100,
 1704573000,
 1704573900,
 1704574800,
 1704575700,
 1704576600,
 1704577500,
 1704578400,
 1704579300,
 1704580200,
 1704581100,
 1704582000,
 1704582900,
 1704583800,
 1704584700,
 1704585600,
 1704586500,
 1704587400,
 1704588300,
 1704589200,
 1704590100,
 1704591000,
 1704591900,
 1704592800,
 1704593700,
 1704594600,
 1704595500,
 1704596400,
 1704597300,
 1704598200,
 1704599100,
 1704600000,
 1704600900,
 1704601800,
 1704602700,
 1704603600,
 1704604500,
 1704605400,
 1704606300,
 1704607200,
 1704608100,
 1704609000,
 1704609900,
 1704610800,
 1704611700,
 1704612600,
 1704613500,
 1704614400,
 1704615300,
 1704616200,
 1704617100,
 1704618000,
 1704618900,
 1704619800,
 1704620700,
 1704621600,
 1704622500,
 1704623400,
 1704624300,
 1704625200,
 1704626100,
 1704627000,
 1704627900,
 1704628800,
 1704629700,
 1704630600,
 1704631500,
 1704632400,
 1704633300,
 1704634200,
 1704635100,
 1704636000,
 1704636900,
 1704637800,
 1704638700,
 1704639600,
 1704640500,
 1704641400,
 1704642300,
 1704643200,
 1704644100,
 1704645000,
 1704645900,
 1704646800,
 1704647700,
 1704648600,
 1704649500,
 1704650400,
 1704651300,
 1704652200,
 1704653100,
 1704654000,
 1704654900,
 1704655800,
 1704656700,
 1704657600,
 1704658500,
 1704659400,
 1704660300,
 1704661200,
 1704662100,
 1704663000,
 1704663900,
 1704664800,
 1704665700,
 1704666600,
 1704667500]

In [ ]:

# Find and extract Fossil gas data
gas_data = None
for prod_type in data['production_types']:
    if prod_type['name'] == 'Fossil gas':
        gas_data = prod_type

if gas_data and gas_data['data']:  # Check if we have data
    # Create lists of timestamps and values, filtering out None values
    timestamps = []
    values = []
    for ts, val in zip(data['unix_seconds'], gas_data['data']):
        if val is not None:  # Only include non-None values
            timestamps.append(ts)
            values.append(val * 2)  # Multiply by 2
    
    # Create DataFrame with filtered data
    df = pd.DataFrame({
        'timestamp': [datetime.utcfromtimestamp(ts) for ts in timestamps],
        'demand': values
    })

    df['timestamp'] = df['timestamp'] + pd.DateOffset(hours=1)  # Added line to shift timestamps
    
    # Convert to daily values
    daily_df = pd.DataFrame({
        'country': country.upper(),
        'date': df.groupby(df['timestamp'].dt.date)['timestamp'].first(),
        'demand': df.groupby(df['timestamp'].dt.date)['demand'].sum(),
        'type': 'power'
    }).reset_index(drop=True)

In [ ]:
df = pd.DataFrame({
    'timestamp': [datetime.utcfromtimestamp(ts) for ts in timestamps],
    'demand': values
})

In [35]:
len(fossil_gas_data)

96

In [36]:
len(data['unix_seconds'])

96

In [18]:
len(data['unix_seconds'])

96

In [28]:
entries_dict.keys()

dict_keys(['Cross border electricity trading', 'Nuclear', 'Hydro Run-of-River', 'Biomass', 'Fossil hard coal', 'Fossil peat', 'Fossil oil', 'Fossil gas', 'Others', 'Other renewables', 'Waste', 'Wind onshore', 'Solar', 'Load', 'Residual load', 'Renewable share of generation', 'Renewable share of load'])

In [22]:
pd.DataFrame(entries)

,name,data
0,Cross border electricity trading,"[2271.7, 2271.7, 2271.7, 2271.7, 1977.7, 1977...."
1,Nuclear,"[4349.3, 4350.3, 4351.2, 4350.7, 4350.2, 4350...."
2,Hydro Run-of-River,"[1155.1, 1236.4, 1225.8, 1231.3, 1194.9, 1147...."
3,Biomass,"[833.1, 817.9, 802.3, 805.9, 802.1, 799.5, 796..."
4,Fossil hard coal,"[187.8, 188.4, 188.3, 187.7, 188.6, 190.2, 192..."
5,Fossil peat,"[482.9, 481.1, 485.2, 482.4, 478.7, 479.6, 478..."
6,Fossil oil,"[0.30000000000000004, 0.30000000000000004, 0.3..."
7,Fossil gas,"[181.7, 177.4, 175.3, 178.3, 178.2, 176.5, 171..."
8,Others,"[243.6, 244.2, 247.1, 244.7, 247.1, 247.1, 247..."
9,Other renewables,"[1.8, 1.8, 1.8, 1.8, 1.8, 1.8, 1.8, 1.8, 1.8, ..."
10,Waste,"[7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, ..."
11,Wind onshore,"[2208.0, 2321.1, 2480.5, 2614.9, 2725.2, 2878...."
12,Solar,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
13,Load,"[12442.0, 12478.0, 12421.0, 12378.0, 12329.0, ..."
14,Residual load,"[10234.0, 10156.9, 9940.5, 9763.1, 9603.8, 945..."
15,Renewable share of generation,"[43.5, 44.6, 45.3, 46.1, 46.5, 47.0, 47.3, 47...."
16,Renewable share of load,"[33.8, 35.1, 36.3, 37.6, 38.3, 39.2, 39.7, 39...."